@mixin vplyr-play-btn() {
  display: flex;
  width: 40px;
  .btn-wrap{
    @include flex();
    flex-direction:row;
    position: relative;
    width: 100%;
    height: 100%;
    .play{
      background: #f8f8f8;
      display: block;
      height: 20px;
      width: 15px;
      position: relative;
      @include transition(all 0.2s cubic-bezier(0.5, 0.55, 0.5, 1));
      @include css3-prefix('clip-path',polygon(100% 50%, 0% 0%, 0% 100%, 100% 50%));
      @include transition-delay(0.1s);
    }
    .pause{
      background: #1d1f20;
      height: 20px;
      right: 46%;
      opacity: 0;
      position: absolute;
      width: 5px;
      @include transition-delay(.1s);
      @include transition(all 0.1s cubic-bezier(0.5, 0.55, 0.5, 1));
    }
  }
  &:hover{
    .btn-wrap{
      .play{
        @include css3-prefix('clip-path',polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%));
      }
      .pause{
        opacity: 1;
      }
    }
  }
}
@mixin vplyr-time-mod(){
  @include flex();
  flex-direction:row;
  position: relative;
  position: relative;
  height: 100%;
  >div{
    font-size: 12px;
    display: inline-block;
    color: rgba(255,255,255,1);
    &.control-separator{
      margin: 0 1px;
      color: rgba(255,255,255,.7);
    }
    &.control-duration{
      color: rgba(255,255,255,.7);
    }
  }
}