@charset "UTF-8";
// Adds a browser prefix to the property
/// @param {*} $property Property
/// @param {*} $value Value
@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -khtml-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}
/// Transition
/// @param {List} $properties - Properties
/// @require {mixin} css3-prefix
@mixin transition($properties...) {
   @if length($properties) >= 1{
    @include css3-prefix( 'transition', $properties);
  }
  @else {
     @include css3-prefix('transition',  "all 0.35s ease-in-out 0s");
  }
}
@mixin transition-property($property...) {
   @include css3-prefix( 'property',$property);
}
@mixin transition-duration($duration...) {
   @include css3-prefix( 'duration',$duration);
}
@mixin transition-timing-function($timing...) {
   @include css3-prefix( 'timing-function',$timing);
}
@mixin transition-delay($delay...) {
   @include css3-prefix( 'delay',$delay);
}

// <input type="range"> styling
@mixin plyr-range-track() {
  height: $vplyr-range-track-height;
  background: transparent;
  border: 0;
  border-radius: ($vplyr-range-track-height / 2);
  user-select: none;
}
@mixin plyr-range-thumb() {
  position: relative;
  height: $vplyr-range-thumb-height;
  width: $vplyr-range-thumb-width;
  background: $vplyr-range-thumb-bg;
  border: $vplyr-range-thumb-border;
  border-radius: 100%;
  transition: background .2s ease, border .2s ease, transform .2s ease;
  box-shadow: $vplyr-range-thumb-shadow;
  transform: scale($vplyr-range-thumb-scale);
}
@mixin plyr-range-thumb-active() {
  background: $vplyr-range-thumb-active-bg;
  border-color: $vplyr-range-thumb-active-border-color;
  transform: scale($vplyr-range-thumb-active-scale);
}

@function dataShape() {
  @return url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==');
}