@keyframes vplyr-progress {
    to { background-position: $vplyr-progress-loading-size 0; }
}
.vplyr-progress-buffer,
.vplyr-progress-played{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: $vplyr-range-track-height;
    margin: -($vplyr-range-track-height /2 ) 0 0;
    padding: 0;
    vertical-align: top;
    appearance: none;
    border: none;

    &::-webkit-progress-bar {
        background: transparent;
    }
    &::-webkit-progress-value {
        background: currentColor;
        border-radius: 100px;
        min-width: $vplyr-range-track-height;
    }
    &::-moz-progress-bar {
        background: currentColor;
        border-radius: 100px;
        min-width: $vplyr-range-track-height;
    }
    &::-ms-fill {
        border-radius: 100px;
    }
}
.vplyr-progress-buffer {
  &::-webkit-progress-value {
      transition: width .2s ease;
  }
  &::-moz-progress-bar {
      transition: width .2s ease;
  }
  &::-ms-fill {
      transition: width .2s ease;
  }
}
.vplyr-video .plyr-progress--buffer{
  background: $vplyr-video-range-track-bg;
}
.vplyr-video .vplyr-progress-buffer {
  color: $vplyr-video-progress-buffered-bg;
}
